body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #f8f8f8;
}

.container-fluid {
  margin-top: 20px;
}

header {
  text-align: center;
  background-color: #06aed5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

.lead {
  margin-bottom: 20px;
}

.row {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}

.time-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.hour {
  flex: 0 0 80px;
  text-align: center;
  font-weight: bold;
}

.description {
  flex: 1;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.saveBtn {
  flex: 0 0 80px;
  border: none;
  background-color: #06aed5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.saveBtn:hover {
  background-color: #0492b1;
}

.past {
  background-color: #e6e6e6;
  color: #808080;
}

.present {
  background-color: #ff7f7f;
  color: white;
}

.future {
  background-color: #a1ffa1;
  color: white;
}

.saveBtn i {
  margin-right: 5px;
}
